div.vks-room label {
    font-weight: normal;
}

#checked-rooms-container div.btn-group {
    margin-left: 3px;
}

button.vks-company {
    text-align: left;
    white-space: normal;
}

#room-filter {
    padding: 4px;
}

.found-room {
    background-color: #feff90;
}