table.vks-time-grid {
    width: 100%;
    border-top: 1px solid;
}

tr.vks-time-grid {
    height: 30px;
}

tr.full-hour {
    border-bottom: dashed 1px;
}

tr.half-hour {
    border-bottom: solid 1px;
}

table.vks-request-grid {
    position: absolute;
    display: none;
}

td.vks-request-grid {
    vertical-align: top;
}

div.vks-request {
    position: relative;
    padding: 5px;
    z-index: 100;
}

div.vks-request div {
    overflow: hidden;
    text-align: center;
}

div.vks-request-theme {
    height: 40%;
    font-size: 10pt;
}

div.vks-request-theme a {
    color: black;
}

div.vks-request-participants {
    height: 40%;
    font-size: 9pt;
}

div.vks-request-service-data {
    height: 20%;
}

#vks-schedule-legend {
    margin-top: 15px;
    font-size: 13px;
}

div.status-color-box {
    width: 30px;
    height: 12px;
    display: inline-block;
    border: 1px solid black;
}

.status-cancel {
    background-color: #ffb6ae;
    border: 1px solid darkred;
}

.status-approve {
    background-color: #baffbd;
    border: 1px solid darkgreen;
}

.status-ahu-approve {
    background-color: blanchedalmond;
}

.status-considiration {
    background-color: whitesmoke;
    border: 1px solid #3d3d3d;
}
