form.schedule-filter-form {
    z-index: 100;
    background-color: #f4f4f4;
    position: fixed;
    border: 1px solid #b6b6b6;
    padding: 10px;
}

table.vks-time-grid {
    width: 100%;
    border-top: 1px solid;
}

tr.vks-time-grid {
    height: 30px;
}

tr.full-hour {
    border-bottom: dashed 1px;
}

tr.half-hour {
    border-bottom: solid 1px;
}

td.participants-count {
    vertical-align: bottom;
    padding-left: 1px;
}

td.participants-count-success {
    color: forestgreen;
}

td.participants-count-warning {
    color: #c6a031;
}

td.participants-count-danger {
    color: #ec0000;
}

#current-time {
    border: 1px dashed red;
    position: relative;
    display: none;
    z-index: 100;
}

#vks-schedule-grid {
    position: absolute;
    display: none;
}

td.vks-schedule-grid {
    vertical-align: top;
}

button.vks-request {
    position: absolute;
    z-index: 10;
    padding: 0;
}

button.vks-request div {
    text-align: center;
    padding: 0 2px;
    overflow: hidden;
}

div.vks-request-header {
    font-size: 9pt;
    height: 20%;
}

div.vks-request-number {
    float: left;
}

div.vks-request-options {
    float: right;
}

div.vks-request-theme {
    height: 60%;
    font-size: 9pt;
}

div.vks-request-service-data {
    height: 20%;
    font-size: 7pt;
}

#vks-schedule-legend {
    margin-top: 15px;
    font-size: 13px;
}

div.status-color-box {
    width: 30px;
    height: 12px;
    display: inline-block;
    border: 1px solid black;
}

.status-cancel {
    background-color: #ffb6ae;
    border: 1px solid darkred;
}

.status-approve {
    background-color: #baffbd;
    border: 1px solid darkgreen;
}

.status-ahu-approve {
    background-color: #fff1be;
    border: 1px solid #ffd13d;
}

.status-considiration {
    background-color: whitesmoke;
    border: 1px solid #3d3d3d;
}