# yii console command
/yii
/yii_test
# phpstorm project files
.idea

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

docker-compose.*

.dockerignore

xdebug.ini

db/